<body>
    <form>
        <input type='text' name='song'>
        <input type='text' name='song'>
        <option name='genre'>
            <select name='deephouse'></select>
            <select name='electro'></select>
            <select name='hardcore'></select>
            <select name='hardstyle'></select>
            <select name='house'></select>
            <select name='pop'></select>
            <select name='r&b'></select>
            <select name='rock'></select>
            <select name='techno'></select>
            <select name='trance'></select>
            <select name='urban'></select>
        </option>
    </form>
</body>