<body>
    <h2>Edit song</h2>
    <form action='/edit' method='post' id='editSong'>
        <label for='current-song'>Current song</label>
        <select id='currentSong'>
            {{#each favouriteSongs}}
            <option class='songInfo'>{{song}}/{{artist}}</option>
            {{/each}}
        </select>
        <label for='song'>Song</label>
        <input type='text' name='song'>
        <label for='artist'>Artist</label>
        <input type='text' name='artist'>
        <label for='genre'>Genre</label>
        <select id='genre' name='genre'>
            <option value='deephouse'>Deephouse</option>
            <option value='electro'>Electro</option>
            <option value='hardcore'>Hardcore</option>
            <option value='hardstyle'>Hardstyle</option>
            <option value='house'>House</option>
            <option value='pop'>Pop</option>
            <option value='r&b'>R&amp;B</option>
            <option value='rock'>Rock</option>
            <option value='techno'>Techno</option>
            <option value='trance'>Trance</option>
            <option value='urban'>Urban</option>
        </select>
        <input type='submit' value='Edit song'>
    </form>
</body>