<body>
    <h1>Playlist</h1>
    <ul>
        <a href='/edit' class='song-box'>
            <li class='song'>In My Blood</li>
            <li class='artist'>Shawn Mendes</li>
        </a>
    </ul>
    <a href='/add' class='link-button'>Add song</a>
</body>