<body>
    <h1>Playlist</h1>
    <ul>
        {{#each top5}}
        <a href='/edit' class='song-box'>
            <li class='song'>{{song}}</li>
            <li class='artist'>{{artist}}</li>
        </a>
        {{/each}}
    </ul>
    <a href='/add' class='link-button'>Add song</a>
</body>